.home h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border: 1px solid #7777;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: rgb(53, 57, 57);
}
.post h2,
.post p {
  margin-bottom: 1rem;
}

.btn {
  border: 1px solid black;
  padding:0.5rem 1rem;
  border-radius: 6px;
  max-width: 80px;
  text-align: center;
  background-color: aqua;
}
